@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="prev" href="http://www.fatihululum.site/" />
    <link rel="next" href="http://www.fatihululum.site/admin/" />
    <link rel="shortcut icon" href="@Url.Content("~/Image/icon.ico")" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="EU2SRbeq_lOYftubOOKQegY3Lyth7WPfks-bB0ZHJjM" />
    <title>@ViewBag.Title</title>
    @RenderSection("seoSection",required: false)
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/blog-home.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-green fixed-top">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index","HomeBlog")">
                <img class="logo" style="height:50px;width:200px;" src="@Url.Content("~/Image/logo.png")" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="dropdown">
                    <button style="font-size:20px" class="btn btn-default bg-green text-white dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Contest
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="@Url.Action("MyContest","Competition")">My Contest</a>
                        <a class="dropdown-item" href="@Url.Action("Index",new { controller = "Competition"})">Find Contest</a>

                    </div>
                </div>
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="btn btn-default bg-green text-white" style="font-size:20px" href="@Url.Action("FuPost",new { controller = "HomeBlog",type = "mostpopularpost" })" class="nav-link btn-group-lg">
                            Trending
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-default bg-green text-white" style="font-size:20px" href="@Url.Action("FuPost",new { controller = "HomeBlog",type = "mosstinterestpost" })" class="nav-link btn-group-lg">
                            Favorite

                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-default bg-green text-white" style="font-size:20px" href="@Url.Action("FuPost",new { controller = "HomeBlog",type = "mostdiscusspost" })" class="nav-link btn-group-lg">
                            Viral
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-default bg-green text-white" style="font-size:20px" href="@Url.Action("Index",new { controller = "Kitab" })" class="nav-link btn-group-lg">
                            Hadist
                        </a>
                    </li>
                </ul>
                @{
                    Html.RenderAction("CategoryMenu",new { controller = "HomeBlog" });
                }
                @if(User.Identity.IsAuthenticated)
                {

                    <div class="row">
                        <nav class="navbar navbar-default">
                            <li style="list-style-type: none">
                                <a class="btn btn-default bg-green text-white" href="@Url.Action("Notifications","HomeBlog")">
                                    <i style="color:white" class="fa fa-bell"></i> Notifications
                                </a>
                            </li>
                        </nav>
                    </div>

                }

                <ul class="navbar-nav ml-auto ml-md-0">
                    <li class="nav-item active dropdown no-arrow">
                        <a class="btn btn-default bg-green text-white dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i>
                            <span> @User.Identity.GetUserName()</span>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                            @if(User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item" href="@Url.Action("Index","Admin")">Dashboard <i class="fa fa-dashboard"></i></a>
                                <a class="dropdown-item" href="@Url.Action("Profile","HomeBlog",new { username = User.Identity.GetUserName() })">My Profile <i class="fa fa-user"></i></a>
                            }
                            else
                            {
                                <a class="dropdown-item" href="@Url.Action("Register","Admin")">Become Writer <i class="fa fa-pencil"></i></a>

                            }
                            <div class="dropdown-divider"></div>
                            @{

                                Html.RenderAction("AuthenticationLink",new { controller = "admin" });
                            }
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Page Content -->
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">About Us</h6>
                    <p>
                        Fatihul Ulum Menulis is free online writing platform which presented for people who has eager
                        and passion to share their own opinion and also provided for someone to turn their idea into a story as wisdow quote said "Menulis adalah ladang untuk berlogika (berfikir secara logis)".
                    </p>
                    <p><i class="fa fa-map-pin"></i> Jl. Argopuro No. 7 Manggisan, Tanggul, Jember, Jawa Timur, Indonesia, 68155</p>
                    <p><i class="fa fa-phone"></i> Phone : +62 81230208298</p>
                    <p><i class="fa fa-envelope"></i> E-mail : tulisanfatihululum@gmail.com</p>

                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">Quick links</h6>
                    <ul class="footer-ul">
                        <li><a href="@Url.Action("Index","HomeBlog")"> Home</a></li>
                        <li><a href="@Url.Action("FuPost",new { controller = "HomeBlog",type = "mostpopularpost" })"> Trending</a></li>
                        <li><a href="@Url.Action("FuPost",new { controller = "HomeBlog",type = "mostdiscusspost" })"> Viral</a></li>
                        <li><a href="@Url.Action("FuPost",new { controller = "HomeBlog",type = "mosstinterestpost" })"> Favorite</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">General Links</h6>
                    <ul class="footer-ul">
                        <li><a href="@Url.Action("RankingTopUser",new { controller = "HomeBlog"})"> Ranking</a></li>
                        <li><a href="@Url.Action("Index",new { controller = "Competition"})"> Contest</a></li>
                        <li><a href="@Url.Action("MyContest","Competition")"> My Contest</a></li>
                        <li><a href="@Url.Action("Notifications","HomeBlog")"> Notifications</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 footer-col">
                    <h6 class="heading7">Follow Us</h6>
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/fatihululum.site"><i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i></a></li>
                        <li><i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i></li>
                        <li><i class="fa fa-instagram social-icon instagram" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--footer start from here-->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright © Fatihul Ulum 2018-@DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </div>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131424917-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-131424917-1');
    </script>

    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("JavaScript",required: false)
    @RenderSection("scripts",required: false)
</body>
</html>
