@model ScraBoy.Features.CMS.User.UserProfileModel

@{
    ViewBag.Title = Model.User.DisplayName + "'s " + "Profile";
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<h1>@Model.User.DisplayName's Profile</h1>
<div id="userphoto"><img src="@Url.Content(Model.User.UrlImage)" style="height:350px; width:350px;" class="d-flex mr-3 rounded-circle" alt="default avatar"></div>

<nav id="profiletabs">
    <ul class="clearfix">
        <li><a href="#bio" class="sel">About</a></li>
        <li><a href="#posts">Posts by @Model.User.DisplayName</a></li>
    </ul>
</nav>

<section id="bio">

    <p class="bio"><span><b>Name: </b></span> @Model.User.DisplayName</p>
    <p class="bio"><span><b>Birth Day: </b></span> @Model.User.Born.Value.FormatDate()</p>
    <p class="bio"><span><b>Level: </b> </span> @Model.Role</p>
    <p class="bio">@Html.Raw(Model.User.Description)</p>

</section>

<section id="posts" class="hidden">
    @foreach(var item in Model.Posts)
            {
        <p>
            <a class="text-primary" href="@Url.Action("Post","HomeBlog",new { postId=item.Id})">@item.Title</a>
        </p>
                <p class="posts">@item.Content.ReadMore()</p><hr />
    }
</section>
<script type="text/javascript">
    $(function () {
        $('#profiletabs ul li a').on('click', function (e) {
            e.preventDefault();
            var newcontent = $(this).attr('href');

            $('#profiletabs ul li a').removeClass('sel');
            $(this).addClass('sel');

            $('#content section').each(function () {
                if (!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
            });

            $(newcontent).removeClass('hidden');
        });
    });
</script>
