@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<ScraBoy.Features.CMS.Blog.Post>


@{
    ViewBag.Title = "Fatihul Ulum Menulis - Share Your Idea";
    ViewBag.Single = false;

    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
@section seoSection{
    <meta name="description" content="Fatihul Ulum Menulis is free online writing platform which presented for people who has eager and passion to share their own opinion and also provided for someone to turn their idea into a story as wisdow quote said Menulis adalah ladang untuk berlogika (berfikir secara logis)." />
    <meta name="keywords" content="Fatihul ulum , Manggisan ,  Daerah , Profile , Menulis , Tulisan " />
    <meta name="robots" content="index" />
}
<style>
    body {
        background: #F7F7F7 !important;
    }

    .text-success {
        color: #14B796 !important;
    }
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
</style>
<div class="container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <div>
                <div id="demo" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        @foreach(var item in Model.Take(3))
                        {
                            <div class="@(item == Model.First() ?
                                "carousel-item active" : "carousel-item")">
                                <img src="@Url.Content(item.UrlImage)" style="height:380px;">
                                <div class="carousel-caption">
                                    <h2 class="group card-title inner list-group-item-heading ">
                                        @Html.ActionLink(item.Title,"post",new { controller = "HomeBlog",postId = item.Id },new { @class = "bg-dark text-light" })
                                    </h2>
                                </div>
                            </div>

                        }
                    </div>
                    <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
            <br />
            <div>
                <div id="products" class="row view-group">
                    @foreach(var item in Model.Skip(3).Take(6))
            {
                        <div class="item grid-group-item col-xs-4 col-lg-4">
                            <div class="media mb-4">
                                <img class="d-flex mr-3 " src="@Url.Content(item.UrlImage)" style="height: 50px; width:50px" alt="">
                                <div class="media-body">
                                    <h5 class="group card-title inner list-group-item-heading">
                                        @Html.ActionLink(item.Title,"post",new { controller = "HomeBlog",postId = item.Id },new { @class = "text-dark" })
                                    </h5>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="card-header">Top Writers Ever</h4>
                    @Html.Partial("_WidgetTopUsers",(ViewBag.TopUser as IEnumerable<ScraBoy.Features.CMS.HomeBlog.RankingViewModel>))
                    <a href="@Url.Action("RankingTopUser",new { controller = "HomeBlog"})" class="btn btn-block" style="background-color:#ffffff"><h5 class="mt-0 text-success"> View Ranking</h5></a>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="products" class="row view-group">
        <div class="about">
            <div class="content line"></div>
            <div class="content text">Latest</div>
            <div class="content line"></div>
        </div>
        @Html.Partial("_RenderIndex",Model.Take(9))
        <a href="@Url.Action("FuPost",new { controller = "HomeBlog",page=2,type = "latestpost" })" class="btn btn-block" style="background-color:#ffffff">
            <h5 class="mt-0 text-success">Show More</h5>
        </a>
    </div>
</div>

<br />
<div class="container">
    <div id="products" class="row view-group">
        <div class="about">
            <div class="content line"></div>
            <div class="content text">Discussion</div>
            <div class="content line"></div>
        </div>
        @Html.Partial("_WidgetRecentComments",(ViewBag.RecentComments as IEnumerable<ScraBoy.Features.CMS.Comments.Comment>))
    </div>
</div>