@model ScraBoy.Features.CMS.Comments.Comment

<div class="card-body">
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="@Url.Content(Model.User.UrlImage)" style="height: 80px; width:80px" alt="">
        <div class="media-body">
            <a href="@Url.Action("Profile","HomeBlog",new { userId = Model.User.SlugUrl })">
                <h5 class="mt-0">@Model.User.DisplayName</h5>
            </a> <span class="text-muted">@Model.PostedOn.TimeAgo()</span>

            @if(Model.Parent != null)
            {
                <div class="col-md-10" style="background-color:#EFEFEF">
                    <a href="@Url.Action("Profile","HomeBlog",new { userId = Model.User.SlugUrl })">
                           @@@Model.Parent.User.DisplayName
                    </a>
                        @Html.Raw(Model.Parent.Content)
                </div>
            }
            <p>@Html.Raw(Model.Content)</p>

            @if(User.Identity.Name == Model.User.UserName || User.IsInRole("admin"))
            {
                <a class="btn btn-danger" data-action="delete" ,data-value="Model.Id" href=@Url.Action("Delete","Comment",new { id = Model.Id })>
                    Delete <i class="fa fa-trash"></i>
                </a>
                <a class="btn btn-info" href=@Url.Action("Edit","Comment",new { commentId = Model.Id})>
                    Edit <i class="fa fa-pencil"></i>
                </a>
            }
            <a class="btn btn-success" href=@Url.Action("Reply","Comment",new { commentId = Model.Id})>
                Reply <i class="fa fa-reply"></i>
            </a>
        </div>
    </div>
</div>
