@model IEnumerable<ScraBoy.Features.Product.ProductModel>

<p>
    @Html.ActionLink("Create New","Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Shop.ShopName)
        </th>
        <th>
            Product Price
        </th>
        <th>
            Shipment Cost
        </th>
        <th>Add</th>
        <th>Action</th>
    </tr>

    @foreach(var item in Model)
    {
        <tr>
            <td>
                <a href=@item.Url>@item.ProductName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.TypeName)
            </td>
            <td>
                <a href=@item.Shop.ShopLink>@item.Shop.ShopName</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShipmentPrice)
            </td>
            <td>
                @Html.ActionLink("Add To Inventory","AddToInventory",new { controller = "Inventory",id = item.ProductId })
            </td>
            <td>
                @Html.ActionLink("Details","Details",new { id = item.ProductId }) | 
                @Html.ActionLink("Edit","Edit",new { id = item.ProductId }) |
                @Html.ActionLink("Delete","Delete",new { id = item.ProductId })
                
            </td>
        </tr>
    }

</table>
