@model IEnumerable<ScraBoy.Features.Shop.ShopModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new{controller="Type"})
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShopName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href=@item.ShopLink>@item.ShopName</a>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShopId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShopId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShopId })
        </td>
    </tr>
}

</table>
