@model ScraBoy.Features.CMS.User.CMSUser
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = Model.DisplayName + "'s " + "Profile";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
    ViewBag.Single = false;
}
@{
    string userId = User.Identity.GetUserId();
}
<style>
    body {
        background: #F7F7F7 !important;
    }
</style>
<link href="~/Content/profile.css" rel="stylesheet" />
<div class="container">
    <br />
    <div class="card">
        <div class="p-3 text-center">
            <div class="card-body">
                <h1 class="display-4">@Model.DisplayName</h1>

                <img src="@Url.Content(Model.UrlImage)" style="border-radius:50%; height:200px; width:200px;" alt="default avatar">

                <p class="lead">@Html.Raw(Model.Description)</p>
                <div class="small">
                    @if(userId != Model.Id)
                    {
                        <a class="btn btn-raised btn-danger text-white" href="@Url.Action("Follow",new { controller = "Follow",username = Model.UserName })" title="IG Profile">
                            <i class="@(!ViewBag.followed ? "fa fa-user-plus" : "fa fa-user-times")" aria-hidden="true"> @(!ViewBag.followed ? (ViewBag.folback ? "Follback" : "Follow") : "Unfollow")</i>
                        </a>
                        <a class="btn btn-raised btn-success text-white" href=@Url.Action("ChatIndex","Message",new { username = Model.UserName })>
                            <i class="fa fa-envelope" aria-hidden="true"> Message</i>
                        </a>
                    }
                </div>

                <p class="lead">
                    <div>
                        <a class="btn btn-raised btn-info text-white"><i class="fa fa-trophy" aria-hidden="true"> @Model.TotalScore point</i></a>
                        <a class="btn btn-raised btn-info text-white"><i class="fa fa-book" aria-hidden="true"> @Model.TotalPost posts</i></a>
                        <a href="@Url.Action("Follower",new { controller = "Follow",slugUrl = Model.SlugUrl })" class="btn btn-raised btn-info text-white"><i class="fa fa-user-circle" aria-hidden="true"> @Model.Followers.Count() followers</i></a>
                        <a href="@Url.Action("Following",new { controller = "Follow",slugUrl = Model.SlugUrl })" class="btn btn-raised btn-info text-white"><i class="fa fa-user-md" aria-hidden="true"> @Model.Following.Count() following</i></a>
                    </div>
                </p>

                <div>
                    @if(!string.IsNullOrEmpty(Model.FbProfile))
                    {
                        <a href="@Model.FbProfile">
                            <i class="fa fa-facebook social-icon facebook" aria-hidden="true"></i>
                        </a>
                    }
                    @if(!string.IsNullOrEmpty(Model.InstagramProfile))
                    {
                        <a href="@Model.InstagramProfile">
                            <i class="fa fa-instagram social-icon instagram" aria-hidden="true"></i>
                        </a>
                    }
                    @if(!string.IsNullOrEmpty(Model.TwitterProfile))
                    {
                        <a href="@Model.TwitterProfile">
                            <i class="fa fa-twitter social-icon twitter" aria-hidden="true"></i>
                        </a>
                    }
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            @Html.Partial("_RenderIndex",Model.Posts.Where(a=>!a.Private).OrderByDescending(a => a.Published))
        </div>
        <br />
    </div>
</div>