@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ScraBoy.Features.Hadist.Hadis.Imam>

@{
    ViewBag.Title = "Fatihul Ulum Hadits - Daftar Hadits";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
@section seoSection{
    <meta name="description" content="Fatihul Ulum Hadits - Daftar Hadits ">
    <meta name="robots" content="index">
}
<div class="container">
    <br />
    @if(User.IsInRole("admin") || User.IsInRole("editor"))
    {
        <a href="@Url.Action("Create", "Imam")" class="btn btn-success">
            New Imam
        </a>
    }
    <div style="background-color:#EBC390" class="card mb-3">
        <div dir="ltr" class="card-header">
            @using(Html.BeginForm("Search","Imam",FormMethod.Get))
            {
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Find Hadis"
                           value="@ViewBag.Filter" name="search" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="searchsubmit">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            }
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table dir="ltr" class="table text-justify" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                                <td>
                                    <a style="font-size:25px;" class="text-dark" href="@Url.Action("Index","Chapter",new { imam=item.SlugUrl})">
                                        @item.Name
                                        @if(item.Chapters.Count() > 0)
                                        {
                                            @item.LimitNumber
                                        }
                                    </a>
                                    <br />
                                    @if(User.IsInRole("admin") || User.IsInRole("editor"))
                                    {
                                        <a class="label label-primary" href=@Url.Action("Edit","Imam",new { id = item.Id })>
                                            Edit <i class="fa fa-pencil"></i>
                                        </a>
                                    }
                                    @if(User.IsInRole("admin"))
                                    {
                                        <a class="label label-danger" href=@Url.Action("Delete","Imam",new { id = item.Id })>
                                            Delete <i class="fa fa-trash"></i>
                                        </a>
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    @if(Model.Count() > 0)
    {
        <text>Page</text> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <text>Of</text> @Model.PageCount
        @Html.PagedListPager(Model,page => Url.Action("Index",new { page = page,currentFilter = ViewBag.Filter }))
    }
</div>
