@using PagedList;
@using PagedList.Mvc;

@model PagedList.IPagedList<ScraBoy.Features.CMS.Blog.Post>

@if(Model.Count() <= 0)
{
    <div id="content-wrapper">
        <div class="container-fluid">
            <h1 class="display-1">404</h1>
            <p class="lead">
                Page not found. You can
                <a href="javascript:history.back()">go back</a>
                to the previous page, or
                <a href="@Url.Action("Index","HomeBlog")">return home</a>.
            </p>
        </div>
    </div>
}
else
{
    <div id="products" class="row view-group">
        @foreach(var item in Model)
        {
            <div class="item list-group-item col-xs-4 col-lg-4">
                <div class="card-title">
                    <div class="img-event">
                        <img style="height:225px; width:300px;" class="group list-group-image img-fluid" src="@Url.Content(item.UrlImage)" alt="@item.Title" />
                    </div>
                    <div class="caption">
                        <div class="col-xs-12 col-md-12">
                            <div class="group card-title inner list-group-item-heading text-muted">
                                @item.Published.Value.FormatDate() | @Html.Partial("_RenderCategory",item.Category.Name)
                                by <a target="_blank" href="@Url.Action("Profile","HomeBlog",new { username= item.Author.UserName})">
                                    @item.Author.DisplayName
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="caption">
                        <div class="col-xs-12 col-md-12">
                            <h5 class="group card-title inner list-group-item-heading">
                                @Html.ActionLink(item.Title,"post",new { controller = "HomeBlog",postId = item.Id },new { @class = "text-dark",target="_blank" })
                            </h5>
                            <p class="group inner list-group-item-text">
                                @item.Content.ReadMore(100)
                                <a target="_blank" href="@Url.Action("Post",new { controller = "HomeBlog",postId = item.Id })">
                                    Continue Reading
                                </a>
                            </p>

                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    @Html.Partial("_RenderFooter",item)   
                                </div>
                               
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        }
    </div>
}

