@model IEnumerable<ScraBoy.Features.CMS.HomeBlog.CommentViewModel>


<div class="card-body">
    <div class="row">
        <div class="col-lg-6">
            @foreach(var item in Model)
            {
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">
                            <a href="@Url.Action("Post",new { postId = item.Post })">
                                @item.User.UserName
                            </a>
                        </h5>  @item.Comment.PostedOn.TimeAgo()
                        <p><a href="@Url.Action("Post",new { postId = item.Post.Id })">@item.Comment.Content</a> </p>
                    </div>
                </div>


                @*<div class="media mb-4">
                        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">

                            </h5>
                            @item.Comment.Content @item.Comment.PostedOn.TimeAgo()

                        </div>
                    </div>*@
            }
        </div>
    </div>
</div>