@model IEnumerable<ScraBoy.Features.CMS.Comments.Comment>


@foreach(var item in Model.Take(6))
            {
    <div class="item col-xs-4 col-lg-4">
        <div class="media mb-4">
            <div class="img-event">
                <img class="d-flex mr-3 rounded-circle" src="@Url.Content(item.User.UrlImage)" style="height: 50px; width:50px" alt="">
            </div>
            <div class="media-body">
                <a href="@Url.Action("Profile","HomeBlog",new { username = item.User.UserName })">
                    <h5 class="mt-0">@item.User.DisplayName</h5>
                </a> <span class="text-muted">@item.PostedOn.TimeAgo() on</span>
                <a href="@Url.Action("Post","HomeBlog",new { postId = item.Post.Id })">@item.Post.Title</a>
                <p>@item.Content.ReadMore(50)</p>
            </div>
        </div>
    </div>
}
