@model IEnumerable<ScraBoy.Features.CMS.HomeBlog.BlogViewModel>

@{
    ViewBag.Title = "Tag";

    ViewBag.IsIndex = true;

    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<h2></h2>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h1 class="my-4">
                Posts Under 
                <small>@ViewBag.category</small>
            </h1>
            @foreach(var item in Model)
            {
                @Html.Partial("_RenderPost",item)
            }
            <div>
                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Older</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>

            <div class="card my-4">
                <h5 class="card-header">Popular Posts</h5>
                @Html.Partial("_WidgetPost",(IEnumerable<ScraBoy.Features.CMS.HomeBlog.BlogViewModel>)ViewBag.PopularView)
            </div>

            <div class="card my-4">
                <h5 class="card-header">Most Commented Posts</h5>
                @Html.Partial("_WidgetPost",(IEnumerable<ScraBoy.Features.CMS.HomeBlog.BlogViewModel>)ViewBag.Commented)
            </div>

            <div class="card my-4">
                <h5 class="card-header">Tags</h5>
                @Html.Partial("_WidgetTags",(IEnumerable<String>)ViewBag.Tags)
            </div>

            <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                @Html.Partial("_WidgetCategory",(IEnumerable<String>)ViewBag.Categories)
            </div>


            <div class="card my-4">
                <h5 class="card-header">Recent Comments</h5>
                @Html.Partial("_WidgetRecentComments",(IEnumerable<ScraBoy.Features.CMS.HomeBlog.CommentViewModel>)ViewBag.RecentComments)
            </div>

        </div>
    </div>
</div>