@using PagedList;
@using PagedList.Mvc;

@model IPagedList<ScraBoy.Features.CMS.User.CMSUser>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<a href="@Url.Action("Create", "User")" class="btn btn-success">
    New User
</a>

@AntiForgery.GetHtml()
<div class="card mb-3">
    <div class="card-header">
        <h2> <i class="fa fa-user-secret""></i> User List</h2>
        @using(Html.BeginForm("Search","User",FormMethod.Get))
        {
            @Html.Partial("~/Views/Widgets/_Search.cshtml")
        }
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Username</th>
                        <th>Birth Date</th>
                        <th>Level</th>
                        <th>Security</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                           
                            <td>
                                @item.DisplayName
                                <br>
                                @Html.ActionLink(" View","Profile","User",new { userId = item.SlugUrl },new { @class = "fa fa-eye" })
                                @Html.ActionLink(" Manage","Manage","Admin",new { username = item.UserName },new { @class = "fa fa-cog" }) 
                                @Html.ActionLink(" Delete","Delete",new { username = item.UserName },new { @class = "fa fa-trash", data_action = "delete",data_value = item.UserName })                               
                            </td>
                            <td>@item.UserName</td>
                            <td>@item.Born.Value.FormatDate()</td>
                            <td>@item.CurrentRole</td>
                            <td>@item.Security</td>
                        </tr>
                    }
                </tbody>
            </table>

            @if(Model.Count() > 0)
            {
                <text>Page</text> @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) <text>Of</text> @Model.PageCount
                @Html.PagedListPager(Model,page => Url.Action("Index",new { page = page,currentFilter = ViewBag.Filter }))
            }
        </div>

    </div>
</div>
